<!DOCTYPE html>
<html>
  <head>
    <title>會員名冊</title>
    <link rel = "stylesheet" href = "../public/css/index.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#alert').fadeOut(3000);
      })
    </script>
    <meta charset = "UTF-8">
  </head>

  <body>
    <div class = "background">
      <div class = "inside">
        <% if (typeof message != 'undefined'){ %>
          <div id = "alert"><%= message %></div>
        <% } %>
        <h1>會員名冊</h1>
        <select onchange = "javascript:location.href = '/member/' + this.value;">
          <option>請選擇頁數</option>
          <% for(i = 1; i < page / 5 + 1; i++){ %>
            <option value = "<%= i %>"><%= i %></option>
          <% } %>
        </select>
        <form>
          <table>
            <tr>
              <th width = "3%"></th>
              <th width = "10%">姓名</th>
              <th width = "5%">性別</th>
              <th width = "10%">身分證字號</th>
              <th width = "8%">電話</th>
              <th width = "8%">生日</th>
              <th width = "16%">信箱</th>
              <th width = "10%">密碼</th>
              <th width = "30%">地址</th>
            </tr>
            <tr>
              <% if(typeof data !== 'undefined') { %>
                <% for(var i = 0; i < data.length; i++) {%>
                  <tr>
                    <td>
                      <input name = "memberId" id = "memberId" type = "radio" value = "<%= data[i].memberId%>">
                    </td>
                    <td>
                      <%= data[i].memberName %>
                    </td>
                    <td>
                      <% if (data[i].sex == '1'){ %>
                        男
                      <% } else { %>
                        女
                      <% } %>
                    </td>
                    <td>
                      <%= data[i].identity %>
                    </td>
                    <td>
                      <%= data[i].phone %>
                    </td>
                    <td>
                      <%= data[i].birthday.split(' ')[0] %>
                    </td>
                    <td>
                      <%= data[i].email %>
                    </td>
                    <td>
                      <%= data[i].password %>
                    </td>
                    <td>
                      <%= data[i].address %>
                    </td>
                  </tr>
                <% } %>
              <% } %>
            </tr>
          </table>
          <div style = "width: 100%;">
            <input type = "submit" id = "Insert" value = "註冊會員" formmethod = "post" formaction = "/member/regist">
            <input type = "submit" id = "Update" value = "修改會員" formmethod = "post" formaction = "/member/alter">
            <input type = "submit" id = "Delete" value = "刪除會員" formmethod = "post" formaction = "/member/comfirm">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>